## 선수별 골드 획득량, 경험치 획득량 시계열 데이터 concatenate
 - rank_game_gold_exp_crawling.ipynb에서 만든 선수들의 골드, 경험치 시계열 데이터를 합친다.
 - 합친 후에 팀당 총 골드 획득량이 시간에 따라 어떻게 변하는지 본다.

In [1]:
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
# Read user_list that used when crawling player rank match data
user_dataframe = pd.read_csv('user_list.csv', engine='python')
user_dataframe.head(5)

   Unnamed: 0               0
0           0      deft123456
1           1          Tar2an
2           2   SKT T1 Untara
3           3         yizhiyu
4           4  11 14 9 7 8 20

In [3]:
user_list = list(user_dataframe['0'])
user_list[:5]

['deft123456', 'Tar2an', 'SKT T1 Untara', 'yizhiyu', '11 14 9 7 8 20']

In [ ]:
# Concat player match data
total_gold_table = pd.DataFrame() # Table that stores gold series data of all players
total_exp_table = pd.DataFrame() # Table that stores exp series data of all players
i = 0
for user_name in user_list[:5]:
    file_name1 = "user_gold_{0}.csv".format(user_name)
    file_name2 = "user_exp_{0}.csv".format(user_name)
    gold_table = pd.read_csv(file_name1, engine='python')
    exp_table = pd.read_csv(file_name2, engine='python')
    gold_table["경기번호"] = gold_table["경기번호"] + i * 20 # Make match number for each match
    exp_table["경기번호"] = exp_table["경기번호"] + i * 20 # Make match number for each match
    
    if len(gold_table.columns) > len(total_gold_table.columns): # Keep columns to maximum duration series data
        gold_table_columns = gold_table.columns
        exp_table_columns = exp_table.columns
    else:
        gold_table_columns = total_gold_table.columns
        exp_table_columns = total_exp_table.columns

    total_gold_table = total_gold_table.append(gold_table)[gold_table_columns]
    total_exp_table = total_exp_table.append(exp_table)[exp_table_columns]
        
    i = i + 1

In [ ]:
# Delete unnecessary column
del total_gold_table['Unnamed: 0']
del total_exp_table['Unnamed: 0']

In [ ]:
total_gold_table.head(5)

In [ ]:
total_exp_table.head(5)

In [ ]:
# Sum of gold and exp for each team
gold_sum_table = pd.DataFrame()
exp_sum_table = pd.DataFrame()

for i in range(0, 999):
    gold_sum_table = gold_sum_table.append(total_gold_table[5 * i: 5 * (i + 1)].groupby("경기번호").sum())
    exp_sum_table = exp_sum_table.append(total_exp_table[5 * i: 5 * (i + 1)].groupby("경기번호").sum())

In [ ]:
gold_sum_table["승패"] = gold_sum_table["승패"] / 5
gold_sum_table.head(5)

In [ ]:
exp_sum_table["승패"] = exp_sum_table["승패"] / 5
exp_sum_table.head(5)